.neon-logo {
  animation: glow 1.6s ease-in-out infinite alternate;
  height: 100px;
  width: auto;
}

@keyframes glow {
  from {
    filter: drop-shadow(0 0 15px rgba(215, 255, 0, 0.7));
  }
  to {
    filter: drop-shadow(0 0 25px rgba(215, 255, 0, 0.8));
  }
}

.footer-buttons button {
  color: black; /* Changed text color to black */
}