run = "node simple-server.js"
hidden = [".config", "package-lock.json"]
modules = ["nodejs-20", "python-3.11"]

[nix]
channel = "stable-23_11"

[languages]

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"

[languages.javascript.languageServer]
start = "typescript-language-server --stdio"

[env]
PORT = "3000"
