/* Import Mona Sans */
@font-face {
  font-family: 'Mona Sans';
  src: url('/fonts/MonaSans-ExtraBoldCondensed.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-stretch: condensed;
  font-display: swap;
}

/* Import Geist Mono */
/* @font-face {
  font-family: 'Geist Mono';
  src: url('/fonts/GeistMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} */

:root {
  --font-heading: "Mona Sans", "system-ui", "sans-serif";
  /* --font-body: "Geist Mono", "sans-serif"; */
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  text-transform: uppercase;
}

body {
  font-family: system-ui, sans-serif;
}

p {
  line-height: 1.6;
}